body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}
.triangle {
  cursor: pointer;
}
.selected {
  fill: black;
}
.container {
  max-width: 5000px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-item {
  flex: 1;
  margin-right: 10px;
}
.tooltiptext {
  visibility: hidden;
  display: inline;
  position: absolute;
  top: 100%;
}
.magnifier {
  position: absolute;
  display: inline;
}
.magnifier:hover .tooltiptext {
  visibility: visible;
}
h1 {
  display: block;
  margin-bottom: 0px;
  font-weight: bold;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
h2 {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1877f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
button {
  padding: 10px 20px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
    background-color: #115293;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#startAnimButton, #stopAnimButton, #startRecButton, #stopRecButton, #startAllButton {
  background-color: #42b72a;
  margin-top: 10px;
}
#startAnimButton:hover, #stopAnimButton:hover, #startRecButton:hover, #stopRecButton:hover, #startAllButton:hover {
  background-color: #339a1e;
}
#createShapeButton, #advancedSpeedButton {
  background-color: rgb(253, 60, 60);
  margin-top: 10px;
}
#createShapeButton:hover, #advancedSpeedButton:hover {
  background-color: darkred;
  margin-top: 10px;
}
input[type=checkbox] {
  width:20px; 
  height:20px;
}
#mouse_coords {
  background-color: white;
  position: fixed;
  margin-top: 5px;
}
#mag_viewer_1 {
  left: 1020px;
  top: 1075px;
}
#mag_viewer_2 {
  left: 1020px;
  top: 1320px;
}
#mag_viewer_3 {
  left: 1020px;
  top: 1565px;
}